<a href="https://colab.research.google.com/github/thamirests/cognitivo/blob/main/challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
#1) foi escolhido o formato parquet para dado colunar devido a compressão 
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Temp/teste-eng-dados/data/input/users/load.csv')
df.to_parquet('load.parquet')

   id  ...                 update_date
2   2  ...  2018-04-21 20:21:24.364752
4   1  ...  2018-05-23 10:13:59.594752
5   3  ...  2018-05-19 05:08:07.964752

[3 rows x 8 columns]

In [ ]:
#2) utilizei uma função propria do pandas para tratar os deduplicados
df = df.drop_duplicates(subset=['id'], keep='last')
df.head()

In [74]:
#3) utilizei um 'de para' para comparar e converter os tipos de dados. No caso eu usei só os tipos da amostra, mas funciona com todos os datatypes
dt =pd.read_json('/content/drive/MyDrive/Temp/teste-eng-dados/config/types_mapping.json', typ='series')
i =0
for d in dt.items():
  
  t = dt.values[i]
  if t == "integer":
    t="int64"
  if t == "timestamp":
    t="datetime64"
    
  df[i] = df[dt.index[i]].astype(t)
  print(df[i])
  i =+1

2    34
4    72
5    13
Name: 0, dtype: int64
2   2018-04-21 20:21:24.364752
4   2018-03-03 18:47:01.954752
5   2018-05-19 04:07:06.854752
Name: 1, dtype: datetime64[ns]
2   2018-04-21 20:21:24.364752
4   2018-03-03 18:47:01.954752
5   2018-05-19 04:07:06.854752
Name: 1, dtype: datetime64[ns]